.Message {
    padding: $message-padding;
    display: inline-block;
    color: $text-color;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    
    &--user {
        background-color: $user-message-color;
        border-bottom-left-radius: 0px;
    }
    &--remote {
        background-color: $remote-message-color;
        border-bottom-right-radius: 0px;
    }
    &--old {
        background-color: $disabled-color;
        color: $disabled-text-color;
    }
}