$button-padding: 0.50rem;
$message-padding: 0.75rem;
$background-color: rgb(253, 205, 205);
$text-color: rgb(0, 0, 0);
$disabled-text-color: rgb(255, 255, 255);
$disabled-color: rgb(214, 214, 214);
$user-message-color: rgb(96, 77, 158);
$remote-message-color: rgb(155, 92, 103);
$plain-button-color: rgba(251, 255, 255, 0.384);

html {
    background-color: $background-color;
    margin-left: 35%;
    margin-right: 35%; 
}

@import "../components/**/*.scss";